/* wireframe styles */

/* global styles */
* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(183, 180, 180);
    border: burlywood;
    box-sizing: border-box;
    border-style:solid;
    border-width: 1px;
}

/* header styles */

h1, h2 {
    color: deeppink;
}

pre {
    font-family: 'Courier New', Courier, monospace;
}
/* main content section styles */

/*.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2 0 100 px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}*/

p {
    display: inline-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2 0 100 px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}


/* contact styles */

/* footer styles */ 
